<nav id="nav" class="recipeNav">
  <span {% if page.url contains "/appetizers" %} class="active cooknav" {% endif %}>
    <a href="{{ site.baseurl }}../appetizers/appetizers.html">Appetizers</a>
  </span>

  <span {% if page.url contains "/dinner" %} class="active cooknav" {% endif %}>
    <a href="{{ site.baseurl }}../dinner/dinner.html">Dinner</a>
  </span>

  <span {% if page.url contains "/desserts" %} class="active cooknav" {% endif %}>
    <a href="{{ site.baseurl }}../desserts/desserts.html">Desserts</a>
  </span>

  <span {% if page.url contains "/submit" %} class="active cooknav" {% endif %}>
    <a href="{{ site.baseurl }}../submit/submit.html">Submit</a>
  </span>

<!-- Not sure why this is here
        </div>
        <!-- /.navbar-collapse -->
<!-- Still not sure why this is here
    </div>
    <!-- /.container-fluid -->
</nav>
