.recipeNav{
  color: #87CEEB;
  display: flex;
  flex-direction: row;
  font-family: $base-font-family;
  font-size: 1em;
  font-weight: 600;
  margin: .5em auto;
  justify-content: space-between;
  text-transform: uppercase;
  width: 50%;
}

.cooknav{
  flex: 1;
  height: 3em;
  width: 100%;
}

svg {
  height: 1em;
  width: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #87CEEB;
  text-decoration: none;
}

a.icon {
  width: 75px;
  height: 75px;
}
